@model java.lang.SqlException.Models.EmployeeViewModel

@{
    ViewBag.Title = "Edit Employee";
}

<h2>Edit Employee</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id);
    @Html.HiddenFor(x => x.EmailAddress);
    @Html.HiddenFor(x => x.Password);
    @Html.ValidationSummary()
    <table class="table table-bordered">
        <tr>
            <td>@Html.LabelFor(x => x.FirstName)</td>
            <td>@Html.TextBoxFor(x => x.FirstName) @Html.ValidationMessageFor(x => x.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.LastName)</td>
            <td>@Html.TextBoxFor(x => x.LastName) @Html.ValidationMessageFor(x => x.LastName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Address)</td>
            <td>@Html.TextBoxFor(x => x.Address) @Html.ValidationMessageFor(x => x.Address)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.City)</td>
            <td>@Html.TextBoxFor(x => x.City) @Html.ValidationMessageFor(x => x.City)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.State)</td>
            <td>@Html.TextBoxFor(x => x.State) @Html.ValidationMessageFor(x => x.State)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.ZipCode)</td>
            <td>@Html.TextBoxFor(x => x.ZipCode) @Html.ValidationMessageFor(x => x.ZipCode)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Telephone)</td>
            <td>@Html.TextBoxFor(x => x.Telephone) @Html.ValidationMessageFor(x => x.Telephone)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.EmailAddress)</td>
            <td>@Html.DisplayFor(x => x.EmailAddress) @Html.ValidationMessageFor(x => x.EmailAddress)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.DateOfBirth)</td>
            <td>@Html.EditorFor(x => x.DateOfBirth) @Html.ValidationMessageFor(x => x.DateOfBirth)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Gender)</td>
            <td>@Html.TextBoxFor(x => x.Gender) @Html.ValidationMessageFor(x => x.Gender)</td>
        </tr>
        
        <tr>
            <td>@Html.LabelFor(x => x.SSN)</td>
            <td>@Html.TextBoxFor(x => x.SSN) @Html.ValidationMessageFor(x => x.SSN)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.StartDate)</td>
            <td>@Html.TextBoxFor(x => x.StartDate) @Html.ValidationMessageFor(x => x.StartDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.HourlyRate)</td>
            <td>@Html.TextBoxFor(x => x.HourlyRate) @Html.ValidationMessageFor(x => x.HourlyRate)</td>
        </tr>
    </table>
    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-check">Submit</i></button>
     <a href=@Url.Action("Index") class="btn btn-danger">Cancel</a>
}