@model IEnumerable<java.lang.SqlException.Models.CircleViewModel>

@{
    ViewBag.Title = "Invites";
}

<h2>Circles</h2>
<h3>These are circles you have been invited to join</h3>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CircleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CircleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CircleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CircleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            <button class="btn btn-sm join" data-id="@item.Id">Join</button>
            <button class="btn btn-sm reject" data-id="@item.Id">Reject</button>
        </td>
    </tr>
}
</tbody>
</table>

<script>
    $(".join").click(function () {
        var id = $(this).attr("data-id");
        var url = '@Url.Action("AcceptInvite")';
        $.post(url, {id: id}, function (response) {
            if (response.success == true) {
                alert("You have successfully joined this circle.");
                window.location = window.location;
            }
            else {
                alert("Sorry there was an error processing your request, please try again");
                window.location = window.location;
            }
        });
    });

    $(".reject").click(function () {
        var id = $(this).attr("data-id");
        var url = '@Url.Action("UnjoinCircle")';
        $.post(url, { id: id }, function (response) {
                alert("You have rejected this offer.");
                window.location = window.location;
        });
    });

</script>